[Unit]
Description=FireRover on startup
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/TBRT/Bacheloroppgave/Code/FireRover.py
Restart=always
User=TBRT

[Install]
WantedBy=multi-user.target
